Django==3.2.16
Pillow==9.5.0

django-allauth==0.54.0
django-debug-toolbar==4.0.0
django-environ==0.10.0
django-extensions==3.2.1
djangorestframework==3.14.0

flake8==6.0.0
isort==5.12.0

psycopg2==2.9.6

stripe==5.4.0
